@import url("https://fonts.googleapis.com/css?family=Vollkorn:regular,italic&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2#icons") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^=_icon-]:before,
[class*=" _icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^=_icon-]:before,
[class*=" _icon-"]:before {
  display: block;
}

._icon-linkedin:before {
  content: "\e900";
}

._icon-inst:before {
  content: "\e901";
}

._icon-mail:before {
  content: "\e902";
}

._icon-social1:before {
  content: "\e903";
}

._icon-twitter:before {
  content: "\e904";
}

._icon-envelop:before {
  content: "\e945";
}

._icon-location:before {
  content: "\e948";
}

._icon-quotes-left:before {
  content: "\e977";
}

._icon-favorite:before {
  content: "\e9da";
}

._icon-facebook:before {
  content: "\ea91";
}

._icon-behance:before {
  content: "\eaa8";
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

body,
button {
  font-family: "Vollkorn";
  font-weight: 400;
  color: #333333;
  font-size: 0.875rem;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  overflow: hidden;
  width: 100%;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 970px;
  padding: 0 0.9375rem;
  margin: 0 auto;
}

/*
///MEDIA
@media (max-width: 886px) {
   ._container {
      max-width: 750px;
   }
}
@media (max-width: 767.98px) {
   ._container {
      max-width: none;
   }
}

@media (max-width: 711px) {
   .container {
      max-width: none;
   }
}
*/

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.header__container {
  min-height: 6.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo-head {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__logo {
  position: relative;
  z-index: 3;
}

.header__text {
  font-family: "Oswald";
  font-size: 1.375rem;
  line-height: 1.7272727273;
  text-transform: uppercase;
}

.header__icon-menu {
  display: none;
}

.menu {
  position: relative;
  z-index: 2;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.125rem;
}

.menu__link {
  font-family: "Montserrat";
  font-size: 0.75rem;
  line-height: 1.6666666667;
  text-transform: uppercase;
  color: #404040;
}

.footer {
  background-color: #000;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.9375rem;
}

.footer__copy {
  font-size: 0.9375rem;
  line-height: 1.4666666667;
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
}

.making-brands {
  position: relative;
  padding-top: 105px;
  padding-bottom: 100px;
}

.making-brands__content {
  position: relative;
  z-index: 1;
}

.making-brands__title {
  padding-left: 104px;
  padding-right: 104px;
  font-family: "Montserrat";
  font-size: 44px;
  line-height: 1.25;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.making-brands__title::after {
  display: block;
  position: relative;
  z-index: 1;
  content: "";
  height: 0.125rem;
  background-color: #fff;
  width: 5rem;
  top: 1.875rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.making-brands__subtitle {
  font-size: 0.9375rem;
  line-height: 1.3333333333;
  text-align: center;
  color: #fff;
  margin: 3.4375rem 0 0;
}

.making-brands__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.decor {
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
}

.decor__1,
.decor__2 {
  display: block;
  height: 2px;
  background-color: #2b2b2b;
  width: 50px;
}

.decor__1 {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.decor__2 {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.get-in-touch {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #fefec9;
}

.get-in-touch__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.get-in-touch__text {
  font-size: 18px;
  line-height: 1.3888888889;
  text-align: center;
  color: #47474f;
}

.get-in-touch__text:not(:last-child) {
  margin: 40px;
}

.get-in-touch__button {
  padding: 0.8125rem 2.125rem;
  border: 1px solid #47474f;
  font-size: 1rem;
  line-height: 1.25;
  color: #47474f;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  border-radius: 2px;
}

.services {
  padding-top: 79px;
  padding-bottom: 60px;
}

.services__title {
  font-size: 1.4375rem;
  font-family: Montserrat;
  line-height: 1.5652173913;
  text-align: center;
  text-transform: uppercase;
}

.services__title::after {
  position: relative;
  display: block;
  content: "";
  height: 0.125rem;
  background: rgba(0, 0, 0, 0.09);
  width: 5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 28px;
}

.services__items {
  margin-top: 73px;
  gap: 1.25rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.items-services__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 18.75rem;
          flex: 1 0 18.75rem;
  padding-bottom: 0.625rem;
}

.items-services__image {
  padding: 3.125rem 4.0625rem;
  background-color: #f5f5f5;
}

.items-services__title {
  margin-top: 38px;
  text-transform: uppercase;
  font-family: Montserrat;
  font-size: 1rem;
  line-height: 1.25;
}

.items-services__title:not(:last-child) {
  margin-bottom: 1.25rem;
}

.items-services__text {
  font-size: 0.9375rem;
  line-height: 1.4666666667;
  text-align: center;
  max-width: 28.75rem;
}

.projects {
  background-color: #f5f5f5;
  padding-top: 79px;
  padding-bottom: 90px;
}

.projects__title {
  font-family: Montserrat;
  font-size: 1.4375rem;
  line-height: 1.5652173913;
  text-align: center;
  text-transform: uppercase;
}

.projects__title::after {
  position: relative;
  display: block;
  content: "";
  height: 0.125rem;
  background: rgba(0, 0, 0, 0.09);
  width: 5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 28px;
}

.projects__items {
  margin-top: 73px;
}

.items-projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.25rem;
}

.items-projects__item {
  background-color: #fff;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 18.75rem;
          flex: 1 1 18.75rem;
}

.items-projects__image {
  padding: 0 0 100%;
}

.items-projects__content {
  padding: 1.25rem 0;
  text-align: center;
}

.items-projects__title {
  font-family: Montserrat;
  font-size: 1rem;
  line-height: 1.25;
  text-transform: uppercase;
}

.items-projects__title:not(:last-child) {
  margin-bottom: 0.25rem;
}

.items-projects__subtitle {
  line-height: 1.4285714286;
}

.our-team {
  padding-top: 80px;
  padding-bottom: 90px;
}

.our-team__title {
  font-family: Montserrat;
  font-size: 1.4375rem;
  line-height: 1.5652173913;
  text-align: center;
  text-transform: uppercase;
}

.our-team__title::after {
  position: relative;
  display: block;
  content: "";
  height: 0.125rem;
  background: rgba(0, 0, 0, 0.09);
  width: 5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 28px;
}

.our-team__items {
  margin-top: 73px;
}

.items-out-team {
  gap: 1.25rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, 13.75rem);
}

.items-out-team__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 13.75rem;
          flex: 0 1 13.75rem;
}

.items-out-team__image {
  padding: 0 0 100%;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.items-out-team__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.25rem 0 0.625rem;
}

.items-out-team__name {
  font-family: Montserrat;
  font-size: 1rem;
  line-height: 1.25;
  text-transform: uppercase;
}

.items-out-team__name:not(:last-child) {
  margin-bottom: 0.375rem;
}

.items-out-team__specialization {
  line-height: 1.4285714286;
}

.items-out-team__social {
  margin-top: 1.5625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.375rem;
}

.items-out-team__icon {
  background-color: #f5f5f5;
  color: #000;
  padding: 0 0.4375rem;
}

.reviews {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #f5f5f5;
}

.reviews__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews__icon {
  width: 62px;
  height: 62px;
  background-color: #000;
  color: #fff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 37px;
}

.reviews__icon::before {
  font-size: 1.375rem;
}

.reviews__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.items-reviews__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1.875rem 3.375rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 27.875rem;
          flex: 0 0 27.875rem;
}

.items-reviews__text {
  font-size: 1.625rem;
  line-height: 1.2692307692;
  margin-bottom: 1.5rem;
  text-align: center;
}

.items-reviews__image {
  width: 64px;
  height: 64px;
  margin-bottom: 0.625rem;
}

.items-reviews__image img {
  width: 100%;
}

.items-reviews__name {
  font-family: Montserrat;
  font-size: 0.875rem;
  line-height: 1.4285714286;
  text-transform: uppercase;
  color: #ababab;
}

.contacts {
  padding-top: 80px;
  padding-bottom: 70px;
  position: relative;
}

.contacts__content {
  position: relative;
  z-index: 1;
}

.contacts__title {
  font-family: Montserrat;
  font-size: 1.4375rem;
  line-height: 1.5652173913;
  text-transform: uppercase;
  text-align: center;
}

.contacts__title::after {
  position: relative;
  display: block;
  content: "";
  height: 0.125rem;
  background: rgba(0, 0, 0, 0.09);
  width: 5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 28px;
}

.contacts__items {
  margin-top: 73px;
}

.contacts__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.items-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.625rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.items-contacts__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  padding: 0.8125rem 3.75rem 0.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.items-contacts__icon {
  color: #fff;
  margin: 1.625rem;
}

.items-contacts__icon-map::before {
  font-size: 3.5rem;
}

.items-contacts__icon-mail::before {
  font-size: 3.5rem;
}

.items-contacts__icon-fav::before {
  font-size: 3.5rem;
}

.items-contacts__subtitle {
  font-family: Montserrat;
  font-size: 1rem;
  line-height: 1.25;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1.25rem;
}

.items-contacts__addresses {
  font-size: 1.0625rem;
  line-height: 1.2941176471;
  text-align: center;
  color: #212121;
}

.items-contacts__mails {
  font-size: 1.0625rem;
  line-height: 1.2941176471;
  text-align: center;
  color: #212121;
}

.items-contacts__email:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.items-contacts__email a {
  color: #212121;
}

.items-contacts__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5625rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.items-contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.0625rem;
  line-height: 1.1764705882;
  color: #212121;
}

.items-contacts__link::before {
  display: inline-block;
  color: #000;
  font-size: 0.875rem;
  margin-right: 0.5625rem;
}

.form-section {
  background-color: #000000;
  padding-bottom: 1.375rem;
  padding-top: 69px;
}

.form {
  margin: 0 auto;
  max-width: 35.3125rem;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__block :nth-child(odd) {
  background-color: #2e2e2e;
}

.form__block :nth-child(even) {
  background-color: #333333;
}

.form__input {
  padding: 1.125rem 1.875rem;
  font-style: italic;
  font-size: 1.0625rem;
  line-height: 1.2941176471;
  color: #fff;
}

.form__input::-webkit-input-placeholder {
  color: #fff;
  opacity: 0.3;
}

.form__input::-moz-placeholder {
  color: #fff;
  opacity: 0.3;
}

.form__input:-ms-input-placeholder {
  color: #fff;
  opacity: 0.3;
}

.form__input::-ms-input-placeholder {
  color: #fff;
  opacity: 0.3;
}

.form__input::placeholder {
  color: #fff;
  opacity: 0.3;
}

.form__textarea {
  font-style: italic;
  font-size: 1.0625rem;
  line-height: 1.2941176471;
  color: #ffffff;
  padding: 1.125rem 1.875rem;
  min-height: 7.9375rem;
}

.form__textarea::-webkit-input-placeholder {
  color: #fff;
  opacity: 0.3;
}

.form__textarea::-moz-placeholder {
  color: #fff;
  opacity: 0.3;
}

.form__textarea:-ms-input-placeholder {
  color: #fff;
  opacity: 0.3;
}

.form__textarea::-ms-input-placeholder {
  color: #fff;
  opacity: 0.3;
}

.form__textarea::placeholder {
  color: #fff;
  opacity: 0.3;
}

.form__button {
  margin: 1.375rem auto 0;
  background-color: #000;
  padding: 0.9375rem 3.75rem;
  border: 1px solid #7ec4bd;
  font-style: italic;
  font-size: 1.0625rem;
  line-height: 1.2941176471;
  color: #8bcac3;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  border-radius: 0.125rem;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

@media (min-width: 767.98px) {
  .header__logo-head {
    padding-right: 0.625rem;
  }
}

@media (min-width: 921px) {
  .items-reviews__item:not(:last-child) {
    border-right: 1px solid rgba(0, 0, 0, 0.04);
  }
}

@media (min-width: 991.98px) {
  .menu__link:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  .get-in-touch__button:hover {
    background-color: #444444;
    color: #fff;
  }

  .form__button:hover {
    background-color: #5d9993;
    color: #000;
  }
}

@media (max-width: 991.98px) {
  .items-out-team {
    -ms-grid-columns: (13.75rem)[2];
    grid-template-columns: repeat(2, 13.75rem);
    gap: 2.5rem;
  }
}

@media (max-width: 940px) {
  .footer {
    padding-top: calc(20px + 10 * ((100vw - 320px) / 620));
  }

  .footer {
    padding-bottom: calc(20px + 10 * ((100vw - 320px) / 620));
  }

  .making-brands {
    padding-top: calc(50px + 55 * ((100vw - 320px) / 620));
  }

  .making-brands {
    padding-bottom: calc(50px + 50 * ((100vw - 320px) / 620));
  }

  .making-brands__title {
    padding-left: calc(0px + 104 * ((100vw - 320px) / 620));
  }

  .making-brands__title {
    padding-right: calc(0px + 104 * ((100vw - 320px) / 620));
  }

  .making-brands__title {
    font-size: calc(26px + 18 * ((100vw - 320px) / 620));
  }

  .get-in-touch {
    padding-top: calc(30px + 30 * ((100vw - 320px) / 620));
  }

  .get-in-touch {
    padding-bottom: calc(30px + 30 * ((100vw - 320px) / 620));
  }

  .get-in-touch__text {
    font-size: calc(16px + 2 * ((100vw - 320px) / 620));
  }

  .get-in-touch__text:not(:last-child) {
    margin: calc(20px + 20 * ((100vw - 320px) / 620));
  }

  .services {
    padding-top: calc(40px + 39 * ((100vw - 320px) / 620));
  }

  .services {
    padding-bottom: calc(30px + 30 * ((100vw - 320px) / 620));
  }

  .services__title::after {
    top: calc(18px + 10 * ((100vw - 320px) / 620));
  }

  .services__items {
    margin-top: calc(43px + 30 * ((100vw - 320px) / 620));
  }

  .items-services__title {
    margin-top: calc(18px + 20 * ((100vw - 320px) / 620));
  }

  .projects {
    padding-top: calc(40px + 39 * ((100vw - 320px) / 620));
  }

  .projects {
    padding-bottom: calc(40px + 50 * ((100vw - 320px) / 620));
  }

  .projects__title::after {
    top: calc(18px + 10 * ((100vw - 320px) / 620));
  }

  .projects__items {
    margin-top: calc(43px + 30 * ((100vw - 320px) / 620));
  }

  .our-team {
    padding-top: calc(40px + 40 * ((100vw - 320px) / 620));
  }

  .our-team {
    padding-bottom: calc(40px + 50 * ((100vw - 320px) / 620));
  }

  .our-team__title::after {
    top: calc(18px + 10 * ((100vw - 320px) / 620));
  }

  .our-team__items {
    margin-top: calc(43px + 30 * ((100vw - 320px) / 620));
  }

  .reviews {
    padding-top: calc(40px + 30 * ((100vw - 320px) / 620));
  }

  .reviews {
    padding-bottom: calc(20px + 50 * ((100vw - 320px) / 620));
  }

  .reviews__icon {
    margin-bottom: calc(15px + 22 * ((100vw - 320px) / 620));
  }

  .contacts {
    padding-top: calc(40px + 40 * ((100vw - 320px) / 620));
  }

  .contacts {
    padding-bottom: calc(30px + 40 * ((100vw - 320px) / 620));
  }

  .contacts__title::after {
    top: calc(18px + 10 * ((100vw - 320px) / 620));
  }

  .contacts__items {
    margin-top: calc(15px + 58 * ((100vw - 320px) / 620));
  }

  .form-section {
    padding-top: calc(40px + 29 * ((100vw - 320px) / 620));
  }
}

@media (max-width: 921px) {
  .items-reviews__item:not(:last-child) {
    border-right: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.04);
  }
}

@media (max-width: 767.98px) {
  .header__logo {
    position: absolute;
    top: 0.3125rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }

  .header__text {
    display: none;
  }

  .menu-icon {
    z-index: 3;
    display: block;
    position: relative;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30px;
            flex: 0 0 30px;
    height: 20px;
  }

  .menu-icon span {
    position: absolute;
    height: 2px;
    background-color: #77c4bc;
    left: 0;
    top: 9px;
    width: 100%;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }

  .menu-icon span:first-child {
    top: 0;
  }

  .menu-icon span:last-child {
    top: auto;
    bottom: 0;
  }

  .menu-icon._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .menu-icon._active span:first-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }

  .menu-icon._active span:last-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }

  .menu {
    position: fixed;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 6.875rem 0.9375rem 1.875rem;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    background-color: #e1eeec;
  }

  .menu._active {
    top: 0;
  }

  .menu._active::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 5.625rem;
    width: 100%;
    background-color: #e1eeec;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .menu__list li {
    margin: 0 0 1.875rem 0 !important;
  }

  .menu__link {
    font-size: 2.125rem;
  }

  .header__container {
    min-height: 5rem;
  }
}

@media (max-width: 500px) {
  .items-out-team {
    -ms-grid-columns: (13.75rem)[1];
    grid-template-columns: repeat(1, 13.75rem);
  }
}

@media (max-width: 446px) {
  .items-reviews__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 21.25rem;
            flex: 0 0 21.25rem;
  }
}

@media (max-width: 330px) {
  .items-services__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 16.875rem;
            flex: 1 0 16.875rem;
  }

  .items-projects__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 16.875rem;
            flex: 1 1 16.875rem;
  }
}